html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  border-radius: 10px 10px 0 0;
  margin-bottom: 40px;
  background-color: purple;
}

.c-header-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-right: 55px;
}

.c-body-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.c-header-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-container-title {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#sorted {
  height: 300px;
}

#sorted img{
  height: 500px;
  margin-bottom: 2rem;
}

#btn-sort {
  border-radius: 5px;
  width: 100px;
  padding: 0.5rem 1rem;
  color: purple;
  border: 2px solid purple;
  background-color: white;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
}

.circle {
  clip-path: circle(120px at 150px 150px);
}